
src/FlowersWhisperingAPI/appsettings.json
src/FlowersWhisperingAPI/bin/Debug/net8.0/appsettings.json
src/FlowersWhisperingAPI/bin/Debug/net8.0/FlowersWhisperingAPI.dll
src/FlowersWhisperingAPI/bin/Debug/net8.0/FlowersWhisperingAPI.exe
src/FlowersWhisperingAPI/bin/Debug/net8.0/FlowersWhisperingAPI.pdb
src/FlowersWhisperingAPI/obj/Debug/net8.0/apphost.exe
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.AssemblyInfo.cs
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.AssemblyInfoInputs.cache
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.assets.cache
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.csproj.AssemblyReference.cache
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.csproj.CoreCompileInputs.cache
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.csproj.FileListAbsolute.txt
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.dll
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.GeneratedMSBuildEditorConfig.editorconfig
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.genruntimeconfig.cache
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.pdb
src/FlowersWhisperingAPI/obj/Debug/net8.0/FlowersWhisperingAPI.sourcelink.json
src/FlowersWhisperingAPI/obj/Debug/net8.0/ref/FlowersWhisperingAPI.dll
src/FlowersWhisperingAPI/obj/Debug/net8.0/refint/FlowersWhisperingAPI.dll
src/FlowersWhisperingAPI/obj/FlowersWhisperingAPI.csproj.nuget.dgspec.json
src/FlowersWhisperingAPI/obj/FlowersWhisperingAPI.csproj.nuget.g.props
src/FlowersWhisperingAPI/obj/project.assets.json
src/FlowersWhisperingAPI/obj/project.nuget.cache
